:root {
    --gutter: 20px;
}

.right_section {
    width: 100vw;
}

.banner_top {
    height: unset;
}

.info_container {
    width: unset;
}

.gutter {
    width: var(--gutter);
    display: block;
}

.gutter-h {
    height: var(--gutter);
}

.menu_container {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
}

.info_wrap {
    flex-direction: column-reverse;
}

.time_container {
    justify-content: unset;
}

.time_left_block,
.time_right_block {
    width: 90px;
}

.sys_time {
    margin-right: 5px;
}

.node_des {
    padding-top: var(--gutter);
    display: none;
}

.node_name {
    line-height: 48px;
    text-align: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    position: relative;
}

.box_content.mobile_fixed,
.box_stauts_small.box_style.mobile_fixed {
    flex-direction: row;
}

.box_content {
    flex-direction: column;
}

div[_echarts_instance_] svg {
    /*调整echart位置*/
    top: -20px !important;
}

@media screen and (max-device-width: 600px) {
    #maincontent.container {
        /* margin-top: 30px; */
    }
}

@media screen and (max-device-width: 360px) {
    #maincontent.container {
        /* margin-top: 60px; */
    }
}

@media screen and (max-device-width: 200px) {
    #maincontent.container {
        /* margin-top: 230px; */
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 100%;
    }
    body {
        padding: 0 !important;
    }
    #maincontent {
        width: 100% !important;
    }
    .right_section_content {
        padding: unset;
        width: 95vw;
        margin: 0 auto;
        display: block;
    }
    .node_name {
        font-size: 2rem;
    }
    .boxes_container {
        flex-direction: column;
        align-items: center;
    }
    .box_status_small,
    .box_stauts_medium,
    .box_status_big {
        width: 90vw;
    }
    .box_stauts_medium {
        margin-top: var(--gutter);
    }
    .box_status_big.box_style.mobile_fixed {
        height: 100%;
    }
    .box_content_col_blk {
        margin-bottom: var(--gutter);
    }
    .box_content_col_blk:nth-child(2) {
        background: unset;
    }
    .ipv4_wan_status,
    .ipv6_wan_status {
        font-size: 24px;
        width: unset;
        line-height: 40px;
        border-bottom: 1px solid var(--primary-grey);
    }
    .box_content_left_blk,
    .box_content_right_blk {
        flex-direction: column;
        align-items: flex-start;
        padding-left: var(--gutter);
        padding-bottom: var(--gutter);
    }
    #wan4_i>img,
    #wan6_i>img {
        display: none;
    }
    #wan4_i>small::before,
    #wan6_i>small::before {
        content: '接口: ';
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
    }
    #wan4_s,
    #wan6_s {
        font-size: 16px;
        line-height: 24px;
    }
    /*菜单样式修改*/
    .menu_bars_wrapper {
        position: fixed;
        left: 10px;
        top: 100px;
        transition: .5s ease-in-out;
    }
    .menu_bar {
        width: 36px;
        height: 5px;
        background: var(--primary-grey);
        margin-bottom: 7px;
        opacity: 1;
        transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
    }
    #toggle_box label {
        all: unset;
    }
    header input[type="checkbox"]:checked~label .menu_bars_wrapper {
        z-index: 1;
        left: 85%;
        transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    header input[type="checkbox"]:checked~label .menu_bars_wrapper .menu_bar {
        background: #fff;
    }
    header input[type="checkbox"]:checked~.menu_container {
        transform: translateX(0);
        width: 100vw;
        overflow: auto;
    }
    header input[type="checkbox"]:checked~label .menu_bars_wrapper .menu_bar:nth-child(2) {
        opacity: 0;
        transition: opacity 200ms ease-in;
    }
    header input[type="checkbox"]:checked~label .menu_bars_wrapper .menu_bar:nth-child(1) {
        transform: rotate(45deg);
        transition: transform 300ms ease-in;
    }
    header input[type="checkbox"]:checked~label .menu_bars_wrapper .menu_bar:nth-child(3) {
        transform: rotate(-45deg) translateX(17px) translateY(-17px);
        transition: transform 300ms ease-in;
    }
    ul.dropdown-menu {
        overflow: auto;
    }
    .dropdown:hover ul.dropdown-menu {
        left: unset;
        display: block;
        position: relative;
    }
    ul.nav>li:nth-child(3):hover ul.dropdown-menu {
        width: unset;
    }
    header div>ul a,
    .nav a {
        padding-left: unset;
        text-align: center;
        font-size: 1.25rem;
    }
    .nav>li:nth-child(8) {
        width: unset;
    }
    header div>ul .dropdown-menu>li {
        width: 100%;
    }
    ul.dropdown-menu>li::before {
        left: 25%;
    }
    li {
        height: unset;
    }
    table {
        margin: 0 !important;
    }
    .cbi-page-actions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 !important;
    }
    .cbi-page-actions input {
        width: auto !important;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background: var(--color_info);
        border-radius: 0;
        height: 40px;
    }
    .cbi-button-reset {
        background: var(--color_warn) !important;
        text-shadow: unset;
    }
    header .container {
        height: 50px;
    }
    header .container .nav {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        position: fixed !important;
        width: 100% !important;
        height: 50px;
    }
    h2 {
        background: #333;
        color: #ccc;
        padding: 5px;
    }
    .cbi-section legend {
        width: 100%;
        background: var(--thirdly-grey);
        padding: 5px 0px;
    }
    .cbi-value-field {
        padding: 0 !important;
    }
    .cbi-input-textarea {
        min-height: 100px;
    }
    .cbi-section-node label.cbi-value-title {
        text-align: left !important;
        float: none;
        /* width: 100% !important; */
        display: block;
    }
    .cbi-value-title {
        padding: 0;
        padding-left: 5px;
        background: var(--primary-white);
    }
    .cbi-value-field {
        margin-left: 0% !important;
    }
    .cbi-value-field input[type="text"],
    .cbi-value-field select {
        width: 100%;
    }
    a.menu:after,
    .dropdown-toggle:after {
        display: none !important;
    }
    .cbi-map .cbi-map-descr {
        padding: 10px;
    }
    .cbi-map .cbi-section {
        padding: 0px;
    }
    .cbi-map .cbi-section .cbi-value {
        margin-bottom: 5px !important;
    }
    footer {
        display: none;
    }
    form,
    .cbi-page-actions {
        margin-bottom: 0;
    }
    .cbi-value-field input[type=checkbox],
    .cbi-value-field input[type=radio] {
        margin-left: 5px;
    }
    .cbi-value-field input+img {
        display: block;
        position: absolute;
        margin-top: -27px;
        right: 3px;
        z-index: 2;
        width: 24px;
    }
    fieldset legend:before {
        content: ' ';
        display: inline;
        padding-left: 5px;
    }
    header .pull-right {
        margin-top: 32px;
        padding-top: 0;
        left: 0;
        position: absolute;
        ;
    }
    .wanon br {
        display: none;
    }
    .wanon,
    .wanoff {
        border-radius: 0 !important;
        -webkit-box-shadow: 0 !important;
        box-shadow: 0 !important;
        float: left;
        margin: 0 !important;
        min-height: 0 !important;
        min-width: 0 !important;
        padding: 2px !important;
        text-align: left !important;
    }
    .wanon {
        background: #c4eeff !important;
    }
    a {
        color: #049cdb;
    }
    #maincontent.container {
        /*margin-top: 50px !important;*/
        position: relative;
    }
    .login_container {
        width: 100%;
        height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .login_panel {
        width: 80%;
        background-color: #364F6B;
        border-radius: 10px;
        margin: 0 auto;
        -webkit-box-shadow: 10px 10px 15px 2px #2020208c;
        box-shadow: 10px 10px 15px 2px #2020208c;
    }
    .login_panel_content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    .login_panel_content .left_content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }
    .login_panel_content .right_content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        background-color: #F5F5F5;
        border-radius: 0 0 10px 10px;
        height: 50%;
    }
    .left_content svg {
        width: 35%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .left_content .left_content_title {
        font-size: 1.5em;
        color: #F5F5F5;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        white-space: nowrap;
    }
    .left_content .left_content_auth {
        font-size: 3em;
        color: #FC5185;
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 1;
    }
    header {
        position: absolute;
    }
    /* 列表修正 */
    .tabs,
    .cbi-tabmenu {
        flex-wrap: wrap;
        height: 100%;
    }
}